/* custom easing TEERTH USE var(--spring-easing) !!! */

/* 1b262c background -> bbe1fa text -> 0f4c75 accent -> 3282b8 accent -> */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --spring-easing: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141,
    0.281 6.7%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1.004 83.8%,
    1
  );
  --spring-duration: 1.333s;
}

html {
  background-color: #1b262c;
  zoom: 120%;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 7.5rem;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: #bbe1fa;
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
}

.btn-group {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  max-width: 100ch;
  height: 2rem;
  margin-top: 2rem;
  transform: translate3d(0, 0, 0);
  text-align: right;
}

.right {
  margin-left: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.ttl {
  font-size: 1.5rem;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  transition: 1s all var(--spring-easing);
  background-color: #afdfff;
}

button:hover {
  cursor: pointer;
  background-color: #d3e4f0;
  transform: scale(1.025);
}

button:active {
  transform: scale(0.9);
}

.scale {
  transition: 1s all var(--spring-easing);
}

.scale:hover {
  transform: scale(1.05);
}

.scale:active {
  transform: scale(0.95);
}

.gradient-background {
  background: linear-gradient(300deg, #1b262c, #bbe1fa, #3282b8);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}
