.center {
  text-align: center;
}

.center:hover {
  cursor: pointer;
}

.middle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.smol {
  font-size: smaller;
}

.container {
  margin-top: 1rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

