html {
  background: linear-gradient(to bottom, #27343c 25%, #1b262c 35%);
}

body {
  overflow-x: hidden;
}

.button-group {
  padding: 1rem;
}

.float-objs {
  width: 50%;
  float: left;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 10rem;
  height: 10rem;
  margin-right: 20px;
  background-image: url("replace_in_html");
  background-size: cover;
  background-position: center;
  transition: 0.5s all var(--spring-easing);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}

.card-container-container {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 15rem;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: linear-gradient(
    to bottom,
    rgba(39, 52, 60, 0),
    #27343c 5%,
    #27343c 95%,
    rgba(39, 52, 60, 0)
  );
  height: 10rem;
  position: relative;
}

.hero img {
  position: absolute;
  top: 45%;
  left: 65%;
}

.hero h1,
p {
  margin: 0;
}

.nav-a {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: 2rem;
}

.nav-a a {
  text-decoration: none;
  margin-left: 1rem;
}

img {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nav-svg {
  transform: translateY(2.5px);
  margin-right: 0;
}

.car {
  position: absolute;
  top: 10%;
  left: 100%;
  transform: translateX(25rem) translateY(-3rem);
  animation: car_bump ease-out 7.5s infinite;
}

@keyframes car_bump {
  100% {
    transform: translateY(-3rem) translateX(-100em);
  }
}
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.feature {
  text-align: center;
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #223139;
  border-radius: 10px;
  margin: 2rem;
  transition: 2s all var(--spring-easing);
}

.feature:hover {
  transform: scale(1.05);
}

.feature h2 {
  margin-top: 0;
}
.feature p {
  color: #8e9ea8;
}

.more_info {
  width: 100%;
  height: 10rem;
  padding-top: 1.5rem;
  background: linear-gradient(
    to bottom,
    rgba(39, 52, 60, 0),
    #27343c 10%,
    #27343c 100%
  );
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 852px) and (orientation: landscape) {
  html {
    background: linear-gradient(to bottom, #27343c 10%, #1b262c 15%);
  }
  .features {
    flex-direction: column;
  }
  .feature {
    width: 80%;
  }

  .car {
    position: absolute;
    top: 50%;
    left: 100%;
  }

  button {
    transform: scale(1.5);
  }
  button:hover {
    transform: scale(1.55);
  }
  button:active {
    transform: scale(1.4);
  }
}

@media (max-width: 852px) and (orientation: portrait) {
  .features {
    flex-direction: column;
  }
  .feature {
    margin-left: 0.5rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    width: 80%;
  }
  .card-container-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  html {
    background: linear-gradient(to bottom, #27343c 10%, #1b262c 15%);
  }

  .car {
    position: absolute;
    transform: translateX(25rem) translateY(0rem) scale(3);
  }

  @keyframes car_bump {
    100% {
      transform: translateY(0rem) translateX(-100em);
    }
  }

  .del {
    display: none;
  }
}
