.form-group {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #bbe1fa;
  font-family: "Poppins";
  font-weight: 600;
  text-align: center;
}

input {
  color: #bbe1fa;
  font-family: "Poppins";
  font-weight: 600;
  height: 2rem;
  margin-top: 1rem;
  box-sizing: border-box;
  text-align: center;
  transition: all 1s var(--spring-easing);
  color: black;
  border-radius: 0.5rem;
}

input:focus {
  outline-width: 0;
  transform: scale(1.1);
  background-color: #d3e4f0;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  transition: 1s all var(--spring-easing);
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button:active {
  background-color: #d3e4f0;
  transform: scale(0.9);
}
